h1{
    color: var(--secondary-text-color)
}


.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between
}

mat-hint {
    
}

button {
    background-color: var(-secondary-bg-color);
}

