.mat-toolbar {
    background-color: var(--secondary-bg-color);
     color: var(--secondary-text-color);
}

.userprofile {
    margin-left: 30px;
}

.userprofile:hover {
    color: var(--primary-text-color)
}