div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 2.5em;
 }

 h1, h2 {
    color: var(--secondary-text-color)
 }

.field {
   display: flex;
   margin-bottom: 3.6em;
   margin-right: 40px;
}

 mat-hint {
   min-width: 210px;
   min-height: 1.8em;
   margin-left: -0.8em;
   padding: 1.2 em auto;
   background-color: var(--secondary-bg-color);
   color: var(--primary-text-color)
 }

 .form{
    display: flex;
    flex-direction: column;
 }

input {
   color: var(--primary-text-color);
}

button {
      margin-top: 1.5em;
      color: var(--secondary-text-color);
}

.editfields {
   display: flex;
   flex-direction: row;
   margin-top: 1.4em;
}

img {
   max-width: 350px;
   max-height: 400px;
}

mat-card {
   background-color: var(--primary-bg-color);
   color: var(--secondary-text-color);
   margin-bottom: 10px;
   // display: flex 1 1 auto;
}

mat-card-header {
   font-size: var(xxx-large);
}

.grid {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 33% 33 33% 1%;

}