
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myFlix-Angular-client-primary: mat.define-palette(mat.$indigo-palette);
$myFlix-Angular-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myFlix-Angular-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myFlix-Angular-client-theme: mat.define-light-theme((
  color: (
    primary: $myFlix-Angular-client-primary,
    accent: $myFlix-Angular-client-accent,
    warn: $myFlix-Angular-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($myFlix-Angular-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
      font-family: "Century Schoolbook", "Helvetica Neue", sans-serif; 
      background-color: var(--primary-bg-color);
      color: var(--primary-text-color);
      letter-spacing: 0.1em;
      font-size: 1.2em;
      font-weight: 500;
    }


:root {
    --primary-bg-color: #7FC875;
    --secondary-bg-color: #00ACBA;
    --tertiary-bg-color: #FFAF49;
    --primary-text-color: #FFF;
    --secondary-text-color: #5F005F;

}


button, mat-icon {
   background-color: var(--secondary-bg-color);
   color: var(--primary-text-color);
   font-size: 1.2em;
   padding: 10px 10px;
   transition: 0.5s;
   text-transform: uppercase;
   border-radius: 8px;
}

button:hover, mat-icon:hover {
  background-color: var(--tertiary-bg-color);
  letter-spacing: 0.15em;
  box-shadow: 0 0  15px var(--tertiary-bg-color);
}


// img {
//   max-width: 350px;
//   max-height: 400px;
// }

// mat-card {
//   background-color: var(--primary-bg-color);
//   color: var(--secondary-text-color);
//   margin-bottom: 10px;
//   // display: flex 1 1 auto;
// }

// mat-card-header {
//   font-size: var(xxx-large);
// }

// .grid {
//   display: grid;
//   grid-template-columns: 25% 25% 25% 25%;
//   grid-template-rows: 33% 33 33% 1%;

// }